    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/static/footer.css">
    </head>
    <body>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="footer_column">
                        <h4 className="company_Name">AuraFlicks</h4>
                        <ul>
                            <li><a href="#">For You</a></li>
                            <li><a href="#">Sports</a></li>
                            <li><a href="#">Movies</a></li>
                            <li><a href="#">TV Shows</a></li>
                            <li><a href="#">Watch List</a></li>
                        </ul>
                    </div>
                    <div class="footer_column">
                        <h4 className="support">Support</h4>
                        <ul>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Content Complaints</a></li>
                        </ul>
                    </div>
                    <div class="footer_column">
                        <h4 className="Online_Watch">online Watch</h4>
                        <ul>
                            <li><a href="#">Watch Movies</a></li>
                            <li><a href="#">Web Series</a></li>
                            <li><a href="#">Korean Dramas</a></li>
                            <li><a href="#">Japenes Animes </a></li>
                        </ul>
                    </div>
                    <div class="footer_column">
                        <h4 className="follow_us">follow us</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    
    </body>
    </html>