{% extends "base.html" %}
{% block content %}
<div  class="d-flex  justify-content-around">
    <img class="w-25" src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?cs=srgb&dl=pexels-binyamin-mellish-186077.jpg&fm=jpg" alt="contact image"
    draggable="false"
    >
    <div class="w-50">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quisquam quos cumque animi quam repellendus illum nemo tempora rem quas recusandae impedit quis eos quibusdam fugiat excepturi laudantium culpa ducimus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, provident! Fugiat quam dolorem repellat quaerat assumenda, illo, sit illum quia hic voluptatem fuga pariatur eos consequuntur cupiditate excepturi rerum aut?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, provident! Fugiat quam dolorem repellat quaerat assumenda, illo, sit illum quia hic voluptatem fuga pariatur eos consequuntur cupiditate excepturi rerum aut?</p>
    </div>
</div>
{% endblock %}