{% extends "base.html" %}
{% block content %}
<section>
    <div class="col-12 d-flex justify-content-center ">
        <form class="pb-60 w-50 ">
            <label for="email">Email</label>
            <input class="form-control" type="text" placeholder="Email Address"><br><br>
            <label for="password">Password</label>
            <input class="form-control" type="text" placeholder="password"><br><br>

            <a class="text-decoration-none text-dark" href="http://localhost/school/">
                submit
            </a>

        </form>
    </div>
</section>
{% endblock %}